main {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

#formulario {
  background-color: #F0E2CA;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formulario form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#formulario form .form-group label {
  font-size: 18px;
}

#formulario form .form-group input,
#formulario form .form-group textarea {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.397);
  color: #4e000069;
  font-size: 14px;
  outline: none;
  padding: 10px;
  width: 450px;
}

#formulario form .form-group textarea {
  height: 250px;
  resize: none;
}

#formulario form button {
  background-color: #ebdabd;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
  margin-bottom: 20px;
  padding: 8px;
  text-transform: uppercase;
  width: 450px;
  cursor: pointer;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#contato .contatos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

#contato .contatos .contato-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#contato .contato-box img {
  width: 30px;
}