main {
    margin: 15px 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

#equipe .equipe-box h2 {
    animation-duration: 2s;
    animation-name: aparecerSubTitulo;
    animation-iteration-count: 1;
}

p {
    margin-bottom: 20px;  
}

#imagens {
    padding: 20px;
}

#imagens .img-box {
    background-color: #e8ad46;
    margin: 0 25px;
    display: inline-block;    
}

#equipe .equipe-box {
    background-color: #F0E2CA;
    display: inline-block;
    margin: 25px;
    width: 700px;
}