main {
    margin: 15px 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;  
}

#imagens {
    padding: 20px;
}

#imagens .img-box {
    margin: 0 25px;
    display: inline-block;    
}

#imagens .img-box img {
    width: 570px;
}

#historia {
    background-color: #F0E2CA;
    padding: 55px;
}

#historia .historia-box {
    display: inline-block;
    margin: 25px;
    width: 540px;
}

#historia .historia-box p {
    font-size: 16px;
}

#video {
    margin: 20px;
    font-size: 24px;
}