main {
    margin: 15px 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

#imagens {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

#imagens .img-box img {
    width: 570px;
}

#historia {
    background-color: #F0E2CA;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#historia .historia-box {
    width: 650px;
    height: 300px;
}

#historia .historia-box p {
    font-size: 17px;
}

#video {
    margin: 20px;
    font-size: 24px;
}