main .banner {
    background-image: url(../assets/imgs/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 420px;
}

main .banner h1 {
    color: #F9F4EB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    width: 560px;
    font-size: 65px;
    padding-top: 95px;
    padding-left: 180px;
}

main .highlights {
    margin: 40px 406px;
}

main .highlight-left {
    margin-right: 50px;
}

main .highlight-item {
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 1px solid #131719;
    color: #131719;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}

main .highlight-item img {
    height: 150px;
}

main .highlight-item h2 {
    font-weight: 500;
}

main .highlight-item h3 {
    font-size: 15px;
    font-weight: 100;
}

main .highlight-item button {
    background-color: #F0E2CA;
    color: #131719;
    border: solid 1px #131719;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

main .about-us {
    text-align: center;
    margin: 40px auto;
}

main .about-us h2 {
    display: inline-block;
    vertical-align: middle;
    width: 380px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

main .about-us a {
    display: inline-block;
    vertical-align: middle;
}

main .about-us button {
    background-color: #F0E2CA;
    color: #131719;
    border: solid 1px #131719;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 9px 15px;
    border-radius: 3px;
    cursor: pointer;
}

