main {
  display: flex;
  flex-direction: column;
}

main .banner {
  background-image: url(../assets/imgs/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
  width: 100%;
}

.wrapper-banner-text {
  width: 40%;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-banner {
  color: #f9f4eb;
  padding: 50px;
  font-size: 65px;
}

.box-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px;
  margin: 20px auto;
}

.product-item {
  width: 200px;
  height: 300px;
  border: 1px solid #131719;
  color: #131719;
  padding: 12px;

  text-align: center;
  border-radius: 3px;
}

.product-item img {
  height: 150px;
}
.product-item p {
  text-wrap: nowrap;
}

.product-item button {
  background-color: #f0e2ca;
  color: #131719;
  border: solid 1px #131719;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.about-us {
  text-align: center;
  margin: 0px auto 40px;
}

.about-us h2 {
  display: inline-block;
  vertical-align: middle;
  width: 380px;
  font-size: 20px;
  font-weight: 600;
}

.about-us button {
  background-color: #f0e2ca;
  border: solid 1px #131719;
  font-size: 18px;
  padding: 9px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
