* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F4EB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #131719;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: #F9F4EB;
}

header h1 {
    font-weight: 500;
}

header p {
    font-style: italic;
}

header ul {
    margin-top: 30px;
    list-style-type: none;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #131719;
    font-size: 18px;
}

footer {
    background-color: #F0E2CA;
}

footer h3 {
    text-align: center;
    padding: 10px 0;
}